.cart__container {
  width: 26.5rem;
  height: 31rem;
  margin: 0 0 3rem 2rem;
  padding: .2rem 1rem 0;
  border: 1px solid #5d5d5d;
  border-radius: .2rem;
  background-color: #000000a7;
}

.cart__title--p {
  padding: .6rem 0;
  text-align: center;
  border-bottom: 1px dashed #5d5d5d;
  color: #eee;
  font-family: var(--project-font);
  font-size: .8rem;
  font-weight: 200;
  letter-spacing: .4rem;
}

.cart__purchase--items {
  height: 61%;
  /* height: 20rem; */
}

.icon__cart{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18rem;
  color: rgba(255, 255, 255, 0.105);
  font-size: 8rem;
}

.cart__price--container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px dashed #5d5d5d;
}

.cart__price--money {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
  margin: .5rem 0 0 0;
  color: #5d5d5d;
  font-family: var(--project-font);
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: .1rem;
}

.cart__price--money p:nth-child(2) {
  margin-top: .3rem;
  padding: .4rem 0 .3rem;
  font-size: .9rem;
}

.cart__price--money p:nth-child(3) {
  width: 14rem;
  margin-top: .3rem;
  padding-top: .8rem;
  border-top: 1px solid #5d5d5d;
  text-align: right;
  color: #b2b2b2;
  font-size: 1.3rem;
  font-weight: 700;
}

.total__money--style {
  font-weight: 200;
  letter-spacing: .2rem;
}

.cart__checkout--container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100%;
  height: 3rem;
}
