.login__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  height: 90vh;
}

.login__title--label {
  margin-bottom: 2rem;
  color: #c7c7c7;
  font-family: var(--project-font);
  font-size: 2rem;
  font-weight: 200;
  letter-spacing: 1rem;
  text-align: center;
}

.login__data {
display: flex;
flex-direction: column;
}

.login__label{
  margin: 0 0 .5rem .1rem;
  color: #bababa;
  font-family: var(--project-font);
  font-size: .95rem;
  font-weight: 200;
}

.login__error {
  margin-bottom: 1.5rem;
  font-family: var(--project-font);
  font-size: .8rem;
  font-weight: 300;
}