.payment__container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
}

.payment__title {
  font-family: var(--project-font);
  font-size: 2rem;
  margin-bottom: 2rem;
  padding: .2rem .6rem 0 .9rem;
  border: 1px solid #a19434;
  color: #a19434;
  font-weight: 200;
  letter-spacing: .4rem;
}

.payment__container--form {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 31rem;
}

.payment__left--input,
.payment__right--input {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 14.5rem;
}

.payment__title--label {
  font-family: var(--project-font);
  font-size: .8rem;
  font-weight: 300;
  color: #a7a7a7;
}

.payment__btn {
  height: 2rem;
  width: 20rem;
  margin-top: 2rem;
  background-color:#2bb0c7;
  border: none;
  border-radius: .3rem;
  font-family: var(--project-font);
  font-size: .6rem;
  font-weight: 500;
  letter-spacing: .4rem;
  color: #fff;
}

.payment__price--p {
  display: flex;
  justify-content: flex-end;
  margin-top: .4rem;
  padding: .4rem;
  border-radius: .4rem;
  color: #eee;
  font-family: var(--project-font);
  font-size: 2.2rem;
  font-weight: 500;
  background-color: rgba(238, 238, 238, 0.139);
}