.nav__container {
  display: flex;
  justify-content:space-between;
  align-items: center;
  width: 70%;
  margin: 1.5rem auto;
}

.nav__logo {
  height: 2.5rem;
}

.nav__menu--container {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}

.nav__menu--link {
  text-decoration: none;
  font-family: var(--project-font);
  color: #fff;
  font-size: 0.9rem;
  font-weight: 200;
}

.nav__menu--link:hover {
  color: #a19434;
}

.nav__menu--link:hover:nth-child(3) {
  font-weight: 500;
  color: #31abb4;
}