@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');

.notfound__bg {
  display: flex;
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/images/404-bg.jpg);
  background-size: cover;
  background-position: center;
  
}

.notfound__container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 30rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.59);
  backdrop-filter: blur(.2rem)
}

.notfound__logo {
  height: 12rem;
}

.notfound_title--article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 23rem;
  margin-top: 3rem;
}

.notfound__title {
  color: #2de9f6;
  font-family: var(--project-font);
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 4rem;
}

.notfound__number {
  color: #ddd;
  font-family: 'Fredoka One', cursive;
  font-size: 11rem;
  font-weight: 700;
  letter-spacing: .7rem;
}

.notfound__subtitle--article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 25rem;
  color: #2de9f6;
  font-family: var(--project-font);
  font-size: 3rem;
  font-weight: 500;
  line-height: 3.5rem;
}

.notfound__btn {
  margin-top: 2rem;
  bottom: 15rem;
}