@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.notfound__bg {
  display: flex;
  /* justify-content: flex-start; */
  align-items: center;
  height: 100vh;
  background-image: url(../../assets/images/404-bg.jpg);
  background-size: cover;
  background-position: center;
  
}

.notfound__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 30rem;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.481);
  backdrop-filter: blur(.2rem)
}

.notfound__number {
  color: #ddd;
  font-family: 'Fredoka One', cursive;
  /* font-family: var(--project-font); */
  font-size: 11rem;
  font-weight: 700;
  letter-spacing: .7rem;
}

.notfound_title--article {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  width: 23rem;
  color: #36e3e3;
  font-family: var(--project-font);
  font-size: 4rem;
  font-weight: 700;
}

.notfound__subtitle--article {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 25rem;
  color: #36e3e3;
  font-family: var(--project-font);
  font-size: 1.2rem;
  font-weight: 500;
}

.notfound__btn {
  width: 14rem;
  height: 3rem;
  margin-top: 2rem;
  bottom: 15rem;
  background-color: var(--btn-color);
  border: none;
  border-radius: 1rem;
  text-decoration: none;
  font-family: var(--project-font);
  font-size: .9rem;
  font-weight: 600;
  letter-spacing: .3rem;
  color: #fff;
  cursor: pointer;
}

.notfound__btn:hover {
  border: none;
  box-shadow: 0 0 10px #2de9f6dd;
}